<div data-role="footer" id="footer">
    <p>Images used can be found here: <a href="https://www.krispykreme.ie/">Krispy Kreme</a></p>
    <p>&copy; B00100201 Suk Jing Lim | <a href="mailto:B00100201@student.itb.ie"><img src="/images/mail.png" id="email" alt="ITB student email"></a></p>
</div>